.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7.598784194528875vh;
    text-align: center;
    background-color: var(--fg);
    font-size: 1.8996960486322187vh;
    overflow: hidden;

}

@media screen and (max-width: 479px) {
    .footer{
        height: 150px;
        display: block;
        font-size: 40px;
        // border-top-left-radius: 25px;
        // border-top-right-radius: 25px;
        overflow: hidden;
    }
}