.card {
    position: relative;
    height: 100%;
    width: 32.3vh;
    background-color: var(--fg);
    border-radius: 3.7656903765690375vh;
    
    text-align: center;
    box-shadow:
    0vh 0vh 0.17384731670445955vh rgba(0, 0, 0, 0.094),
    0vh 0vh 0.6046863189720333vh rgba(0, 0, 0, 0.155),
    0vh 0vh 1.08843537414966vh rgba(0, 0, 0, 0.21),
    0vh 0vh 1.5117157974300832vh rgba(0, 0, 0, 0.28);
    margin-bottom: 10vh;
}
@media screen and (min-width: 480px) {
    .card{
        margin-bottom: 0;
    }
}


.Card-Header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.0460251046025104vh;
    padding-top: 1.0460251046025104vh;
    padding-bottom: 7.322175732217573vh;

}

.characterImage {
    height: 8.368200836820083vh;
    position: absolute;
    transform: translate(-4.184100418410042vh, -1.0460251046025104vh);
}

.characterImageDiv {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 6.2761506276150625vh;
    width: 6.2761506276150625vh;
    background-color: black;
}

.characterNameText {
    position: relative;
    display: inline;
    font-weight: 900;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    max-width: 19.8744769874477vh;
}