.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7.598784194528875vh;
    text-align: center;
    background-color: var(--fg);
    font-size: 1.8996960486322187vh;
}