.characterButton {
  z-index: 2;
  height: 6.318883174136664vh;
  width: 6.318883174136664vh;
  filter: drop-shadow(1px 1px 0.6276150627615062vh rgba(0, 0, 0, 0.4));
}
.characterBoarder {
  z-index: 3;
  outline: 6px solid white;
  outline-offset: -6px;
  border-radius: 10px;
}
.characterButton:hover {
  cursor: pointer;
}

.characterContainer{
  position: relative;
}
.borderNumber{
  position: absolute;
  color: var(--accent);
  top: -8px;
  left: -8px;
  background-color: var(--text);
  height: 20px;
  width: 20px;
  z-index: 3;
  text-align: center;
  border-radius: 100%;
}

