<div class="privacy">
    <h1 class="header">Privacy Policy</h1>
    <pre class="content">
This Privacy Policy outlines how Star Rail Team Tracker collects, uses, and shares your personal information when you use our website or services. We are committed to protecting your privacy and ensuring that your personal information is handled in a responsible and transparent manner.
    
Information We Collect
        
We collect the following types of personal information from you:
        
Information you provide to us directly: This includes information you enter when you create an account, sign up for a newsletter, or contact us. This information may include your name, email address, and other contact information.
        
Information collected automatically: When you visit our website, our servers may automatically collect certain information about your device, including your IP address, browser type, and referring website. This information may be used to improve our website and services.
        
Information from third-party sources: We may also collect information about you from third-party sources, such as Google Analytics. This information may be used to improve our website and services, and to tailor advertising to you.
        
Use of Your Personal Information
        
We use your personal information for the following purposes:
        
To provide you with our services
To improve our website and services
To contact you about our services
To send you marketing communications
To comply with applicable laws and regulations
Sharing of Your Personal Information
        
We do not share your personal information with third parties except in the following limited circumstances:
        
When we have your consent to do so
To provide you with our services
To improve our website and services
To comply with applicable laws and regulations
Stripe Payment
        
We use Stripe to process payments on our website. Stripe collects certain information about your payment, such as your name, email address, and billing information. Stripe uses this information to process payments and to prevent fraud. Stripe's privacy policy is available here: <a href="https://stripe.com/privacy">https://stripe.com/privacy</a>

Storage and Security of Your Personal Information
        
Your personal information is stored on secure servers operated by Google or our third-party service providers. We use a variety of security measures to protect your personal information from unauthorized access, use, disclosure, alteration, or destruction.
        
Changes to This Privacy Policy
        
We may update this Privacy Policy from time to time. We will notify you of any material changes by email or by posting a notice on our website.
<div class="material-symbols-outlined cancel" routerLink="/">
    close</div>
</pre>
</div>
