.team-selector{
    display: flex;
    position: relative;
    text-align: center;
    align-items: baseline;
    font-size: 2.7778vh;
    height: 100%;
    top: 50%;
    // border: 0.0926vh solid blue;
}
.currentIndex{
    text-align: center;
    color: var(--accent);
    border: 0.2778vh solid var(--accent);
    border-radius: 1.8519vh;
    padding: 1.3889vh;
    padding-left: 1.8519vh;
    padding-right: 1.8519vh;
}
.arrow{
    // border: 0.0926vh solid pink;
    // padding: 0.9259vh;
    width: 9.2593vh;
    height: auto;
    position: relative;
    color: var(--accent);
    font-weight: 700;
    font-size: 4.1667vh;
    text-align: center;
    transition: all ease-in-out .2s;
    line-height: 100%;
    transform-origin: center;
}
.left, .right{
    position: relative;
}

.left::before {
    content: "<";
}
.right::before{
    content: ">";
}

.arrow:hover{
    cursor: pointer;
    scale: 1.5;
}