:root{
    --bg: #262626;
    --fg: #1E1E1E;
    --accent: #7D5BED;
    --text: white; 
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--bg);
    color: var(--text);
    overflow: hidden;
}