.sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 490px;
    height: 100%;
    position: absolute;
    background-color: var(--fg);
    filter: drop-shadow(0px 0px 0.6276150627615062vh rgba(0, 0, 0, 0.4));
    align-content: flex-start;
    padding: 10px;
    gap: 10px;
}
.sidebarHeader {
    width: 490px;
    height: 86px;
}
.characterButton {
    height: 86px;
    width: 86px;
}
.characterContainer {
    height: 86px;
    width: 86px;
}