<div class="todoLine" [ngClass]="todoKey ? 'hasLabel' : 'noLabel'">
    <ng-container *ngIf="todoKey">
        <p class="label">{{todoKey}}</p>
    </ng-container>
    <div class="todoContainer">
        <ng-container *ngFor="let stat of todoData">
            <div class="todo">
                <input type="checkbox" id={{stat.data}}{{checkboxID}} [checked]="stat.checked">
                <label for={{stat.data}}{{checkboxID}}>{{stat.data}}</label>
                </div>
        </ng-container>
    </div>
</div>