input[type=checkbox]{
    appearance: none;
    background-color: white;
    height: 1em;
    width: 1em;
    border-radius: 25%;
    
}
input[type=checkbox]:checked{
    background-color: var(--accent);
}

.todoLine{
    display: flex;
    gap: 1.0460251046025104vh;
}

.todo{
    accent-color: var(--accent);
}

input[type=checkbox]:hover{
    cursor: pointer;
}

.label{
    font-weight: 900;
    align-self: flex-start;
}

label, p{
    font-size: 1.5690376569037656vh;
}