<div class="todoLine" [ngClass]="todoKey ? 'hasLabel' : 'noLabel'">
    <ng-container *ngIf="todoKey">
        <p class="label">{{todoKey}}</p>
    </ng-container>
    <div class="todoContainer">
        <ng-container *ngFor="let stat of todoData; let x = index">
            <div class="todo">
                <input [ngClass] = "sectionID" [value]="stat.data" type="checkbox" id={{stat.data}}{{checkboxID}} [checked]="stat.checked" (change)="toggleSectionCheckBox($event, stat.data, sectionID, x)">
                <label for={{stat.data}}{{checkboxID}}>{{stat.data}}</label>
                </div>
        </ng-container>
    </div>
</div>