input[type=checkbox]{
    position: relative;
    appearance: none;
    background-color: white;
    height: 1em;
    width: 1em;
    border-radius: 25%;
    margin-right: 7px;
    
}
input[type=checkbox]:checked::before{
    content: '\2714';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    position: absolute;
    color: var(--text);
}
input[type=checkbox]:checked{
    background-color: var(--accent);
}

.todoLine{
    display: flex;
    // gap: 1.0460251046025104vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
    // border: red 1px solid;
}

.todo{
    accent-color: var(--accent);
}

input[type=checkbox]:hover{
    cursor: pointer;
}

.label{
    font-weight: lighter;
    font-size: 20px;
    align-self: center;
    
}

label, p{
    text-align: center;
    font-size: 1.5690376569037656vh;
}
label{
    margin-right: 10px;
}

.todoContainer{
    display: flex;
    align-items: start;
    // border: 1px pink solid;
}

.hasLabel{
    border: rgba(255, 255, 255, 0.10) 1.5px solid;
}
.noLabel{
    border: none;
    text-align: start;
    align-items: start;
}