.section{
    // padding-left: 20px;
    padding-bottom: 8.368200836820083vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-size: 2.510460251046025vh;
}

.allTodosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: green 1px solid;
}

.allTodos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border: 4px solid blue;
}

.set{
    font-size: 1.2552301255230125vh;
    opacity: 0.20;
    margin-bottom: 2.6150627615062763vh;
}