.section{
    // padding-left: 20px;
    padding-bottom: 8.368200836820083vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-size: 2.510460251046025vh;
}

.allTodos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}