<div class="section" *ngIf="todoData != undefined">
    <div class="sectionHeader">
        <h2 class="title">{{artifactName}}</h2>
        <ng-container *ngIf="set">
            <p class="set">{{set}}</p>
        </ng-container>
    </div>
    <div class="allTodosContainer">
        <div class="allTodos">
            <ng-container *ngIf="isArray(); else objectsection">
                <app-todo *ngFor="let key of todoData" [todoData]='[key]' [data] = '{CharacterName: characterName, EquipmentType: "LightCone", ArtifactName: artifactName}'></app-todo>
            </ng-container>
            <ng-template #objectsection>
                <app-todo *ngFor="let key of todoData | keyvalue" [todoKey]='key.key' [todoData]='key.value' [data] = '{CharacterName: characterName, EquipmentType: key.key, ArtifactName: artifactName}'></app-todo>
            </ng-template>
        </div>
</div>