<div class="tutorialContainer">
    <div class="header">
        <h1>You don't have any characters in your team yet!</h1>
    </div>
    <div class="stepsContainer">
        <div class="step">
            <div class="material-symbols-outlined cancel">
                menu
            </div>
            <p class="stepContent">Click here to open the character menu!</p>
        </div>
        <div class="step">
            <img class="kafkaStep" src="\assets\Kafka.webp" alt="">
            <div class="stepContent">Click on any character icon you would like to add onto your team!</div>
        </div>
        <div class="step">
            <div class="stepContent">Use the arrows at the bottom to create new "teams"!</div>
        </div>
    </div>
    <div class="footer">
        Login to save your team to the cloud! (don’t worry, your progress will still be saved in the cache)
    </div>
</div>