<div class="header">
    <!-- Horizontal -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-9001250723450878"
data-ad-slot="3196112194"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <div class="RemoveAds endButtons" (click)="createCheckoutSession()">Remove Ads</div>
    <div class="endButtonsContainer" *ngIf="user == null; else loggedIn">
        <div class="outlinedButton endButtons" (click)="login()">Login To Save</div>
    </div>
    <ng-template #loggedIn>
        <div class="outlinedButton RemoveAds endButtons" (click)="save()">Save</div>
        <!-- <div class="outlinedButton endButtons" (click)="logOut()">  Logout  </div> -->
        <div class="profileContainer">
            <div class="profile-icon" (click)="showProfileDropdown($event)">
                <img class="profile-image endButtons" src={{user?.photoURL}} alt="" referrerpolicy="no-referrer">
            </div>
            <div class="profile-dropdown" [ngClass]="isProfileMenuDropped ? 'dropdown-active' : ''">
                <div class="button-containers">
                    <div class="dropdown-button" (click)="unsubscribe()">Unsubscribe</div>
                    <div class="dropdown-button" (click)="logOut()">Logout</div>
                </div>
                <div class="dropdown-button deleteAccount">Delete Account</div>
            </div>
        </div>
    </ng-template>
</div>
