<div class="card">
    <div class="Card-Header">
        <div class="characterImageDiv">
            <img class="characterImage" src="/assets/{{character.Name}}.webp" alt="{{character.Name}}.webp">
        </div>
        <h1 class="characterNameText">
            {{character.Name}}
        </h1>
    </div>  
    <app-section 
        artifactName = "LightCone"
        [todoData] = '[character.LightCone]'
        [characterName] = 'character.Name'
        ></app-section>
        <app-section 
        artifactName = "Relics"
        set = {{character.Relics.Set}}
        [todoData] = '{"Body": character.Relics.Body, "Feet": character.Relics.Feet}'
        [characterName] = 'character.Name'
        ></app-section>
    <app-section 
        artifactName = "Ornament"
        set = {{character.Ornament.Set}}
        [todoData] = '{"Rope": character.Ornament.Rope, "Sphere": character.Ornament.Sphere}'
        [characterName] = 'character.Name'>
    </app-section>
</div>
