<div class="header">
    <div class="RemoveAds endButtons" (click)="createCheckoutSession()">Remove Ads</div>
    @if (user == null) {
        <div class="endButtonsContainer">
            <div class="outlinedButton endButtons" (click)="login()">Login To Save</div>
        </div>
    }@else {
        <div class="outlinedButton RemoveAds endButtons" (click)="save()">Save</div>
        <!-- <div class="outlinedButton endButtons" (click)="logOut()">  Logout  </div> -->
        <div class="profileContainer">
            <div class="profile-icon" (click)="showProfileDropdown($event)">
                <img class="profile-image endButtons" src={{user.photoURL}} alt="" referrerpolicy="no-referrer">
            </div>
            <div class="profile-dropdown" [ngClass]="isProfileMenuDropped ? 'dropdown-active' : ''">
                <div class="button-containers">
                    <div class="dropdown-button" (click)="manageSubscription()">Manage Subscription</div>
                    <div class="dropdown-button" (click)="logOut()">Logout</div>
                </div>
                <div class="dropdown-button deleteAccount">Delete Account</div>
            </div>
        </div>

    }
</div>
